main.fluid-container {
    background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
    min-height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 24px;
}

.google .icon img {
    width: 32px;
}
.google {
    padding: 0;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    background-color: #2852db;
    border: 1px solid #2852db;
    margin-bottom: 12px;
    border-radius: 8px;
    overflow: hidden;
}
.google .icon, .google span {
    background-color: #2852db;
    padding: 0px 20px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google .icon {background-color: #fff;}