//imports 
@import './_reset.scss';
@import './_grid.scss';
@import './_login.scss';
@import './_dashboard.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

//fonts
* {font-family: 'Roboto', sans-serif;}
html {font-size: 100%;} /*16px*/
body {
  font-weight: 400;
  line-height: 1.75;
  color: #252525;
}
p {margin-bottom: .5rem;}
h1, h2, h3, h4, h5 {
  margin: 0 0 1rem;
  font-weight: 400;
  line-height: 1.3;
}
h1 {margin-top: 0; font-size: 3.052rem;}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}
small, .text_small {font-size: 0.8rem;}

a {text-decoration: none;}


//helper class
.text-center {text-align: center;}